<%= form_for(@cohort_city) do |f| %> 
  <div class="col-md-4 margin-btm-20">
    <div>
      <%= f.text_field :name, class: "form-control", placeholder: "City Name" %>
    </div><br>
    <div>
      <%= f.submit "Submit", class: "btn theme-btn-color" %>
    </div>
  </div>
<% end %>
