<div id="admin-center">
  <div ng-app="app">
    <div ng-controller="adminsCtrl" ng-init="setupDash()">

      <section id="content-region-3" class="padding-40 page-tree-bg">
        <div class="container">
          <h3 class="page-tree-text">
              Welcome, <%= current_user.full_name %>!
          </h3>
        </div>
      </section><!--page-tree end here-->
      <div class="space-70"></div>
      <div class="container">
        <div class="row">
           <div class="col-md-8">
              <h4 class="heading-mini">
                  Manage Users
              </h4>
              <!--tabs start-->
              <div class="tabs">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#students" data-toggle="tab">Students</a></li>
                  <li class=""><a href="#employers" data-toggle="tab">Employers</a></li>
                  <li class=""><a href="#admins" data-toggle="tab">Admins</a></li>
                  <li class=""><a href="#pending" data-toggle="tab">Pending Invites ( {{ pendingUsers.length || 0 }} )</a></li>
                  <li class=""><a href="#emails" data-toggle="tab">Email Stats</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="students">
                    <div class="tab-desc animated fadeIn">
                      <% if @students.any? %>
                        <div class="admin-center-search">
                          <div class="form-group">
                            <input type="text" ng-model="searchStudentName" class="form-control admin-center-search-bar" placeholder="Search students">
                          </div>
                        </div>
                        <table class="table table-hover table-responsive">
                          <tbody>
                            <tr class="hover-list"ng-repeat="student in activeStudents | filter: { full_name: searchStudentName } | orderBy: 'last_name'">
                              <td class="user-entries">
                                <a href="/students/{{ student.id }}" class="user-name">{{ student.full_name }}</a>
                              </td>
                              <td class="user-entries is-breakable">
                                <p>{{ student.email }}</p>
                              </td>
                              <td>
                                <a href="/students/{{ student.id }}/edit" class="btn btn-xs btn-default"><i class="ion-edit"></i></a>
                              </td>
                              <td>                             
                                <a href="/students/{{ student.id }}" data-method="delete" data-confirm="Are you sure you want to delete '{{ student.name }}'?" class="btn btn-xs btn-default"><i class="ion-trash-a"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="no-accounts"><h5><em>There are no active student accounts</em></h5></div>
                      <% end %>
                    </div> 
                  </div>
                  <div class="tab-pane" id="employers">
                    <div class="tab-desc animated fadeIn">
                      <% if @employers.any? %>
                        <div class="admin-center-search">
                          <div class="form-group">
                            <input type="text" ng-model="searchEmployerName" class="form-control admin-center-search-bar" placeholder="Search employers">
                          </div>
                        </div>
                        <table class="table table-hover table-responsive">
                          <tbody>
                            <tr class="hover-list"ng-repeat="employer in activeEmployers | filter: { name: searchEmployerName } | orderBy: 'name'">
                              <td class="user-entries">
                                <a href="/employers/{{ employer.id }}" class="user-name">{{ employer.name }}</a>
                              </td>
                              <td class="user-entries is-breakable">                              
                                <p>{{ employer.email }}</p>                    
                              </td>
                              <td>                              
                                <a href="/employers/{{ employer.id }}/edit" class="btn btn-xs btn-default"><i class="ion-edit"></i></a>                   
                              </td>
                              <td>                              
                                <a href="/employers/{{ employer.id }}" data-method="delete" data-confirm="Are you sure you want to delete '{{ employer.name }}'?" class="btn btn-xs btn-default"><i class="ion-trash-a"></i></a>                     
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="no-accounts"><h5><em>There are no active employer accounts</em></h5></div>
                      <% end %>
                    </div> 
                  </div>
                  <div class="tab-pane" id="admins">
                    <div class="tab-desc animated fadeIn">
                      <div class="tab-desc animated fadeIn">
                        <% if @admins.any? %>
                          <div class="admin-center-search">
                            <div class="form-group">
                              <input type="text" ng-model="searchAdminName" class="form-control admin-center-search-bar" placeholder="Search admins">
                            </div>
                          </div>
                          <table class="table table-hover table-responsive">
                            <tbody>
                              <tr class="hover-list"ng-repeat="admin in activeAdmins | filter: { full_name: searchAdminName } | orderBy: 'last_name'">
                                <td class="user-entries">                                
                                  <p>{{ admin.full_name }}</p>                          
                                </td>
                                <td class="user-entries is-breakable">                                
                                  <p>{{ admin.email }}</p>                          
                                </td>
                                <td>                                
                                  <a href="/admins/{{ admin.id }}/edit" class="btn btn-xs btn-default"><i class="ion-edit"></i></a>                              
                                </td>
                                <td>                                
                                  <a href="/admins/{{ admin.id }}" data-method="delete" data-confirm="Are you sure you want to delete '{{ admin.name }}'?" class="btn btn-xs btn-default"><i class="ion-trash-a"></i></a>                           
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        <% else %>
                          <div class="no-accounts"><h5><em>There are no active admin accounts</em></h5></div>
                        <% end %>
                      </div> 
                    </div>
                  </div>
                  <div class="tab-pane" id="pending">
                    <div class="tab-desc animated fadeIn">
                      <div class="tab-desc animated fadeIn">
                      <% if @pending_invites.any? %>
                        <div class="admin-center-search">
                          <div class="form-group">
                            <input type="text" ng-model="searchUserEmail" class="form-control admin-center-search-bar" placeholder="Search pending invites">
                          </div>
                        </div>
                        <table class="table table-hover table-responsive">
                          <tbody>
                            <tr class="hover-list"ng-repeat="user in pendingUsers | filter: { email: searchUserEmail } | orderBy: 'role'">
                              <td class="user-entries is-breakable">                              
                                <p>{{ user.email }}</p>                           
                              </td>
                              <td class="user-entries">                              
                                <p>{{ user.role }}</p>                          
                              </td>
                              <td>                              
                                <a href="/{{ user.role.toLowerCase() }}s/{{ user.id }}/edit" class="btn btn-xs btn-default"><i class="ion-edit"></i></a>             
                              </td>
                              <td>                              
                                <a href="/{{ user.role.toLowerCase() }}s/{{ user.id }}" data-method="delete" data-confirm="Are you sure you want to delete this account?" class="btn btn-xs btn-default"><i class="ion-trash-a"></i></a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      <% else %>
                        <div class="no-accounts"><h5><em>There are no pending invitations</em></h5></div>
                      <% end %>
                      </div> 
                    </div>
                  </div>
                  <div class="tab-pane" id="emails">
                    <div class="tab-desc animated fadeIn">
                      <% if @employer_emails.any? %>
                        <div id="employer-email-stat-chart"></div><br>
                      <% end %>
                      <% if @student_emails.any? %>
                        <div id="student-email-stat-chart"></div>
                      <% end %>
                      <% unless @employer_emails.any? && @student_emails.any? %>
                        <div class="no-accounts"><h5><em>There are no email records to display</em></h5></div>
                      <% end %>
                    </div> 
                  </div>
                </div>
              </div>
              <!--tabs end-->
          </div>
           <div class="col-md-4">
            <div class="sidebar-box">
              <div class="row">  
                <div class="admin-img col-md-12"><hr>
                  <%= image_tag "#{current_user.avatar.thumb.url}", alt: "", class: "img-responsive admin-dash-image" %>
                </div>
              </div>
            </div><hr>
            <div class="sidebar-box">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="sidebar-heading">Manage Fields</h4>
                  <a href="/technologies" class="btn btn-sm theme-btn-color"><i class="ion-plus"></i> &nbsp;Tech</a>
                  <a href="/industries" class="btn btn-sm theme-btn-color"><i class="ion-plus"></i> &nbsp;Industry</a>
                  <a href="/positions" class="btn btn-sm theme-btn-color"><i class="ion-plus"></i> &nbsp;Position</a>
                  <a href="/position_types" class="btn btn-sm theme-btn-color"><i class="ion-plus"></i> &nbsp;Position Type</a>
                  <a href="/salary_ranges" class="btn btn-sm theme-btn-color"><i class="ion-plus"></i> &nbsp;Salary Ranges</a>
                </div>
              </div>
            </div><hr>
            <div class="sidebar-box">
              <div class="row">
                <div class="col-md-12">
                  <h4 class="sidebar-heading">Leaders: Emails Received</h4>
                  <% if @students.any? %>
                    <div class="admin-center-search">
                      <div class="form-group">
                        <input type="text" ng-model="searchEmailStudentName" class="form-control admin-center-search-bar" placeholder="Search students">
                      </div>
                    </div>
                    <table class="table table-hover table-responsive">
                      <tbody>
                        <tr class="hover-list"ng-repeat="student in topEmailStudents | filter: searchEmailStudentName | orderBy: 'emails':true | limitTo: 5">
                          <td class="user-entries">
                            <a href="/students/{{ student.id }}" class="user-name">{{ student.name }}</a>
                          </td>
                          <td class="user-entries is-breakable">
                            <p>{{ student.emails }}</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  <% else %>
                    <div class="no-accounts"><h5><em>There are no active student accounts</em></h5></div>
                  <% end %>
                </div>
              </div>
            </div>
          </div><!--sideabr blog end -->        
        </div>
      </div><!--right sidebar page end-->
    </div>
  </div>
</div>


