<div class="container" id="admin-center">
  <%= link_to 'Add Employer', new_admin_employer_path, class: "btn btn-default" %>
  <%= link_to 'Add Student', new_admin_student_path, class: "btn btn-default" %>
  <%= link_to 'Add Admin', new_admin_path, class: "btn btn-default" %>
</div>