<div class="container" id="admin-center">
  <%= link_to 'Add Employer', new_employer_invitation_path, class: "btn btn-default" %>
  <%= link_to 'Add Student', new_student_invitation_path, class: "btn btn-default" %>
  <%= link_to 'Add Admin', new_admin_invitation_path, class: "btn btn-default" %>
</div>

