<div id="admin-center">
  <div class="container" id="admin-new-buttons">
    <div ng-app="app">
      <div ng-controller="adminsCtrl" ng-init="setupUserSearch()">
        <%= link_to 'Add Employer', new_admin_employer_path, class: "btn btn-default" %>
        <%= link_to 'Add Student', new_admin_student_path, class: "btn btn-default" %>
        <%= link_to 'Batch Add Students', '/students/invitations/batch', class: "btn btn-default" %>
        <%= link_to 'Add Admin', new_admin_admin_path, class: "btn btn-default" %>
      
        <div id='tab-nav'>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#employers" aria-controls="employers" role="tab" data-toggle="tab">Employers</a></li>
            <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
            <li role="presentation"><a href="#admins" aria-controls="admins" role="tab" data-toggle="tab">Admins</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="employers">
              <div class="list-container">
                <ul class="hoverlist">  
                  <li>
                    <div class="form-group">
                        <input type="text" ng-model="searchEmployerName" class="form-control admin-center-search" placeholder="Search">
                    </div>
                  </li>       
                  <li class="user-entries" ng-repeat="employer in employers|filter: { name: searchEmployerName }">
                    <a href="/employers/{{ employer.id }}" class="user-name">{{ employer.name }}</a>
                    <a href="/employers/{{ employer.id }}" class="btn btn-default btn-sm user-btn" data-method="delete" data-confirm="Are you sure you want to delete '{{ employer.name }}'">Delete</a>
                    <a href="/employers/{{ employer.id }}/edit" class="btn btn-default btn-sm user-btn">Edit</a>
                  </li>
                </ul>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="students">
              <div class="list-container">
                <ul class="hoverlist">     
                  <li class="user-entries" ng-repeat="student in students">
                    <a href="/students/{{ student.id }}" class="user-name">{{ student.full_name }}</a>
                    <a href="/students/{{ student.id }}" class="btn btn-default btn-sm user-btn" data-method="delete" data-confirm="Are you sure you want to delete '{{ student.full_name }}'">Delete</a>
                    <a href="/students/{{ student.id }}/edit" class="btn btn-default btn-sm user-btn">Edit</a>
                  </li>
                </ul>
              </div> 
            </div>

            <div role="tabpanel" class="tab-pane" id="admins">
              <div class="list-container">
                <ul class="hoverlist">     
                  <li class="user-entries" ng-repeat="admin in admins">
                    <a href="/admins/{{ admin.id }}" class="user-name">{{ admin.full_name }}</a>
                    <a href="/admins/{{ admin.id }}" class="btn btn-default btn-sm user-btn" data-method="delete" data-confirm="Are you sure you want to delete '{{ admin.full_name }}'">Delete</a>
                    <a href="/admins/{{ admin.id }}/edit" class="btn btn-default btn-sm user-btn">Edit</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('#userTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
