<div class="container" id="admin-center">
  <%= link_to 'Add Employer', new_admin_employer_path, class: "btn btn-default" %>
</div>


<% @students.each do |student| %>
  <ul><%= student.full_name %>

<%= link_to 'Delete Student', "/student/#{student.id}", class: "btn btn-default" %></ul>

<% end %>