<h2>Students Index</h2>
<div class="container-fluid">
  <div class="row">
    
    <% @students.each do |student| %>
      <div class="col-md-6 col-sm-6 col-xs-12 student-card">
        
            <div class="col-md-6 col-sm-6">
              <img src="<%= student.avatar %>" class="img-responsive" >
              <p>Name: <%= student.full_name %></p>
            </div>

            <div class="col-md-6 col-sm-6">
              <% student.projects.each do |project| %>
                <% if project.capstone? %>
                <img src="<%= project.screencast %>" class="img-responsive">
                <p>Capstone name: <%= project.name %></p>
                <% end %>
              <% end %>
            </div>
            
      </div>
    <% end %>

  </div>
</div>