<div class="student-index">
<div ng-app="app">
<div ng-controller="studentsCtrl" ng-init="setupStudentIndex()">
  <section id="content-region-3" class="padding-40 page-tree-bg">
    <div class="container">
      <h3 class="page-tree-text">ACLTC Students</h3>
    </div>
  </section><!--page-tree end here-->
  <div class="space-70"></div>
  <div class="container-fluid student-index">
    <div class="row">
       <div class="col-md-2">
        <div class="sidebar-box">
          <div class="row">
            <div class="col-md-12">
              <h4 class="sidebar-heading">Filter Profiles</h4>
              <!-- <input ng-model='skillFilter' class="form-control"></p> --> 
              <multiple-autocomplete ng-model="selectedList"
                 object-property="name"
                 suggestions-arr="technologies">
              </multiple-autocomplete>
            </div>
            </div>
          </div><hr>
      </div><!--sideabr blog end -->

      <div class="col-md-9">
      
        <div id="grid" class="row">  
          <div class=" mix col-md-4 col-sm-6 col-xs-12 margin-btm-40" ng-repeat="student in generateList() | filter: skillFilter | unique: 'id' | orderBy: 'last_name'">
            <div class="portfolio-sec">
              <div class="portfolio-thumnail">
                <a href="/students/{{ student.id}}"><img ng-src="{{student.avatar.avatar.index_square.url}}" class="img-responsive" data-toggle="modal" /></a>
              </div>
              <div class="portfolio-desc text-center"> 
                <h4 class="portfolio-post-title">{{ student.full_name }}</h4>
                <span class="portfolio-post-cat">{{ student.current_location }}</span>
                <span ng-show="skillOneExists(student)" class="portfolio-post-cat skill">{{ student.skill_1 }}</span>
                <span ng-show="skillTwoExists(student)" class="portfolio-post-cat skill">{{ student.skill_2 }}</span>
                <span ng-show="skillThreeExists(student)" class="portfolio-post-cat skill">{{ student.skill_3 }}</span>
                <span ng-hide="skillCheck(student)" class="portfolio-post-cat skill">Skills Coming Soon</span>
                <h4><a href="/students/{{ student.id }}" class="btn theme-btn-default btn-lg">More Details</a></h4>
              </div>
            </div>
          </div><!--portfolio item -->
        </div><!--grid-->
      </div>
    </div><!--row-->
  </div><!--portfolio container end-->
</div>
</div>
</div>