<div class="pages-sign-in">
  <section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider">
      <ul class="slides">
        <li>
          <figure>
            <%= image_tag "acltc_code-min.jpg", class: " acltc-class" %>
            <figcaption class="slider-overlay ">
              <div class="slider-text animated fadeInDown">
                <h1 id="devhero-home">DevHero</h1>
                <h5>Sign in to browse Actualize alumni profiles</h5>
                <br>
                <div class="row">
                  <div class="col-md-12 sign-in-btns">
                    <%= link_to "Employer Sign In", new_employer_session_path, class: "btn btn-white btn-lg img-responsive" %>
                    <%= link_to "Student Sign In", new_student_session_path, class: "btn btn-white btn-lg img-responsive" %>
                    <%= link_to "Admin Sign In", new_admin_session_path, class: "btn btn-white btn-lg img-responsive" %>
                  </div>
                </div>
              </div>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </section><!--main flex slider end-->
</div>

