<div class="container-fluid" id="employer-index">
  <div class="row">
    <ul>
    <% @employers.each do |employer| %>
      <div class="indiv-employer">
        <li>
          <img src="<%= employer.image %>" >
          <h3><%= link_to employer.name, "/employers/#{employer.id}" %></h3>
          <p><%= employer.description %></p>
        </li>
      </div>
    <% end %>
    </ul>
  </div> 
</div>
