<%= form_for(@salary_range) do |f| %> 
  <div class="col-md-4 margin-btm-20">
    <div>
      <%= f.text_field :salary_range, class: "form-control", placeholder: "Salary range (ex: $35,000 - $55,000)" %>
    </div><br>
    <div>
      <%= f.submit "Submit", class: "btn theme-btn-color" %>
    </div>
  </div>
<% end %>
