// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#admin-index {
  .indiv-admin {
    margin: 10px;
  }

  ul {
    list-style-type: none;
    width: 600px;
  }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

  li img {
    float: left;
    margin: 0 15px 0 0;
  }

  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }

  li {
    padding: 10px;
    overflow: auto;
  }

  li:hover {
    background: #eee;
    cursor: pointer;
  }

  img {
    max-width: 100px;
    border: 2px solid #bbb;
  }
}

#admin-center {
  .table {
    tr.hoverlist {
      text-decoration: none;
      list-style-type: none;
    }

    a.user-name {
    font: 400 16px/1.5 Helvetica, Verdana, sans-serif;
    color: #6d6d6d;
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
    }

    .cell-div {
      height: 35px;
      line-height: 34px;
    }

    a.btn {
      color: #6d6d6d;
    }

    tr:hover td {
      background: rgba(15, 175, 151, 0.6);

      a.user-name {
        font-size: 25px;
        color: #fff;

        -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
        -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
        -o-transition: font-size 0.3s ease, background-color 0.3s ease;
        -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
        transition: font-size 0.3s ease, background-color 0.3s ease;
      }

      a.user-name:hover {
        text-decoration: none;
      }

      a.btn:hover {
        color: $green;
      }
    }
  }
}

