// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#employer-index {

  
}

.employer-show {
 .img-responsive {
    margin: auto;
    max-height: 400px;
  }

  h4.heading-mini {
    margin-bottom: -2px;
  }

  .heading-mini.tab-inner {
    text-transform: none;
  }

  .description-pane > .active {
    display: block;
  }

  .sidebar-box h4 {
    border-bottom: 5px solid $green;
    display: table;
    margin: auto;
    margin-bottom: 24px;
  }

  .cat-list li {
    text-align: center;
  }

  .social-btn li a i {
    font-size: 20px;
  }

  .sidebar-box {
    text-align: center;
  }

  .project-checkout {
    margin-bottom: 25px;
  }

  .control-buttons i {
    font-size: 20px;
  }

  .theme-btn-color:hover {
    color: #fff;
    background-color: $green;
    border-color: $green; 
  }
}

.employer-new-admin {
  .my-login-form {
    padding: 0px 5px;
    border: none;
  }
  .login-info-box {
    padding: 30px 20px;
    border: 1px solid #eee;
    margin: 0px 10px 15px 10px;
  }

  .text-right {
    text-align: center;
    margin-bottom: 30px;
  }

  ::selection {
    color: #fff;
    text-shadow: none;
    background-color: #0FAF97;
  }
}