// Place all the styles related to the employers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

#employer-index {

  .indiv-employer {
    margin: 10px;
  }

  ul {
    list-style-type: none;
    width: 600px;
  }

  h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  }

  li img {
    float: left;
    margin: 0 15px 0 0;
  }

  li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
  }

  li {
    padding: 10px;
    overflow: auto;
  }

  li:hover {
    background: #eee;
    cursor: pointer;
  }

  img {
    max-width: 100px;
    border: 2px solid #bbb;
  }
}

#employer-show {
  #employer-show-img {
    width: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;

    img {
      max-width: 300px;
      border: 2px solid #bbb;
    }
  }
  #employer-details {
    width: 500px;
    margin: auto;
    // margin-top: 30px;
    text-align: center;
  
  }
}

.employer-new-admin {
  .my-login-form {
    padding: 0px 5px;
    border: none;
  }
  .login-info-box {
    padding: 30px 20px;
    border: 1px solid #eee;
    margin: 0px 10px 15px 10px;
  }

  .text-right {
    text-align: center;
    margin-bottom: 30px;
  }

  ::selection {
  color: #fff;
  text-shadow: none;
  background-color: #0FAF97;
}
}