.login-page {
  .text-right.submit-btn.login-submit-btn {
    float: right;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .login-break {
    margin-top: 70px;
  }

  .devise-links {
    display: inline-block;
  }

  .shared-links {
    text-align: center;
  }
}