// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.pages-sign-in {
  .acltc-class {
    // background: rgba(0, 0, 0, 0.6);
    opacity: 0.3;
  }

  // h1 {
  //   font-size: 65px;
  // }

  // h5 {
  //   font-size: 22px;
  //   color: #fff;
  // }

  .btn-white {
    // background: rgba(15, 175, 151, 0.2);
    background: rgba(255, 255, 255, 0.2);
    margin: 2px;
  }

  .btn-white:hover {
    background: $green;
    color: #fff
  }
}