// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";

.project-new, .project-edit {
  .submit-btn {
    text-align: center;
  }
}

.project-show {
  h4.heading-mini {
    margin-bottom: -2px;
  }

  .description-pane > .active {
    display: block;
  }

  .sidebar-box h4 {
    border-bottom: 5px solid $green;
    display: table;
    margin: auto;
    margin-bottom: 15px;
  }

  .cat-list li {
    text-align: center;
  }
}