.student-card {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #A4E9EB;
  border: solid;
  border-width: 1px;
  margin-top: 20px;
  
  img {
      max-width: 300px;
      max-height: 300px;
    }

  p {
    padding-top: 5px;
    text-align: center;
  }
}

// align images, what about different sizes, no break between columns on rows