@import "colors";

.btn.btn-lg.theme-btn-color {
  margin: 2px 1px;
}

.form-img-preview {
  border: 1px solid $light-gray;
  padding: 2px;
}

.forgot-pw-btn {
  float: left;
}

.form-item-container .list-inline li span {
  border: 1px solid $green;
  border-radius: 4px;
  padding: 4px;
}

.autocomplete-list ul li.autocomplete-active {
  background-color: $green;
}

.is-breakable {
  word-break: break-word;
}

.text-emails {
  width: 100%;
  height: 8em;
}

.modal-tooltip {
  display: inline-block;
  height: 50px;
}

.chosen-container-multi {
  width: 100% !important; 
}

.edit-login-info, .edit-cohort-details {
  min-height: 713px;
}

.edit-social-media, .edit-interview {
  min-height: 692px;
}

.edit-preferred, .edit-technical {
  min-height: 744px;
}

.edit-company-info, .edit-hiring {
  min-height: 876px;
}

.edit-company-tech, .edit-company-submit {
  min-height: 264px;
}